# Here is an example of a period-100 oscillator found
# by Bill Gosper called a centinal.
rule=B3/S23
cell_size=10
speed_ms=80
edge=finite
PATTERN
......................................................
.oo................................................oo.
..o................................................o..
..o.o.....................oo.....................o.o..
...oo........o............oo............oo.......oo...
............oo..........................o.o...........
...........oo.............................o...........
............oo..oo......................ooo...........
......................................................
......................................................
......................................................
............oo..oo......................ooo...........
...........oo.............................o...........
............oo..........................o.o...........
...oo........o............oo............oo.......oo...
..o.o.....................oo.....................o.o..
..o................................................o..
.oo................................................oo.
......................................................