# A small orthogonal spaceship with an unusually slow c/7 speed, 
# discovered by Josh Ball (2013)
rule=B3/S23
cell_size=10
speed_ms=50
edge=torus
PATTERN
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
...............................oo..o.oo..............................
..............................o..o..oo...............................
...............................o.o...................................
................................o....................................
......................................o..............................
....................................ooo..............................
...................................o.................................
....................................o................................
.....................................oo..............................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................
.....................................................................