# One of the simplest oscilators.
rule=B3/S23
cell_size=10
speed_ms=80
edge=torus
PATTERN
.............
.............
.............
...ooo.......
..ooo........
.............
.............
.............